<!doctype html>
<html>
    <head>
        <title></title>
             <link href="../css/styles.css" type="text/css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="../css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="login_container">
        <h3>Login or register</h3>
            <form class="form-inline">
               
                    
                <input class="form-control" type="text" placeholder="Your username" id="username"/>
                

                <input class="form-control" type="password" placeholder="Your password" id="password"/>
       

                <input type="button" value="Login" class="btn btn-default" id="login"/>
                <input type="button" value="Register" class="btn btn-default" id="register"/>







            </form>
            <p id="status">Not logged in</p>
        </div>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/loginScript.js"></script>
    </body>





</html>