<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Joo</title>
        <link href="../css/styles.css" type="text/css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="../css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    </head>
    
    <body>
       <div>
           <nav>
               <a href="#">Main</a>
               <a href="addPerson.html">Add contacts</a>
           </nav>
           <section>
               <h1 class="about">About</h1>
               
               <table class="table">
                   <thead>
                       
                   </thead>
                   <tbody>
                       
                   </tbody>
                   
               </table>
           </section>
           <footer data-dummy="">copyright XD 2015</footer>
        </div>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/scripts.js"></script>
    </body>
</html>